/* index.css */

/* Light theme (default) */
/* body {
  background: url('resources/TrailerPage.jpg') no-repeat center center fixed;
  background-size: contain;
  background-color: rgb(142, 141, 141);
  color: black;
} */

.card {
  background-color: rgb(205, 205, 205);
  color: black;
}

/* Dark theme */
body.dark-mode {
  background-color: #121212;
  color: white;
}

.card.dark-mode {
  background-color: #333;
  color: white;
}
